@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}

body {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    background: url(../images/background-image.jpg) no-repeat center center;

}

hr {
    border-style: solid;
}

h2, p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

/* Logo */

#logo {
    color: black;
    float: left;
    padding: 10px;
    margin-left: 20px;
    font-size: 50px;
}

#logo:hover {
    transition-property: color;
    color: #5757f4;
}


/* Nav Links */

#menu {
    font-size: 120%;
    margin-top: 30px;
    margin-right: 40px;
    letter-spacing: 5px;
    
}

#menu li {
    float: right;
    list-style: none;
    padding: 5px;
    
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    transition-property: color;
    color: #5757f4;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    color: #5757f4; /* can't get this so work... */
}

/* About Section */

#main-about {
    height: 575px;
    clear: left;
    
}

#about-heading {
    text-align: center;
    margin-top: 50px;
}

#about-text {
    height: 400px;
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 100px;
    margin-top: 200px;
    width: 30%;
    font-size: 20px;
}
#about-text h2 {
    padding-bottom: 30px;
    font-size: 50px;
    text-decoration: underline ;
}

#about-image {
    background: url(../images/three-women-taking-selfie.jpg) no-repeat center;
    height: 395px;
    width: 670px;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 4%;
    /* transition-property: width, height;
    transition-timing-function: ease-in-out; */
}

/* #about-image:hover{
    height: 415px;
    width: 690px; 
}*/

/* sub about section */

#index-info {
    height: 325px;

}

#index-info div {
    line-height: 25px;
}

#info-header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

#left-info {
    width: 27%;
    float: left;
    padding-top: 40px;
    padding-left: 40px;
}

.left-info-text {
    float: right;
    text-align: center;
}

#center-info {
    width: 27%;
    margin: auto;
    padding-top: 40px;
    padding-left: 25px;
    
}

.center-info-text {
    text-align: center;
}

#right-info {
    width: 27%;
    float: right;
    padding-top: 40px;
    padding-right: 25px;
}

.right-info-text {
    float: left;
    text-align: center;
}

/* Grabber section */

#grabber {
    height: 500px;
}

#grabber-image {
    background: url(../images/three-friends-with-a-view.jpg) no-repeat center center;
    float: left;
    height: 395px;
    width: 670px;
    border-radius: 4%;
    margin-left: 50px;
    margin-bottom: 30px;
}

#grabber-heading {
    padding-bottom: 40px;
    font-size: 30px;
}

#grabber-text {
    width: 30%;
    float: right;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
    margin-right: 150px;

}

#events-click {
    width: 15%;
    float: right;
    margin: 70px 150px 40px 34px;
}

#events-click a {
    color: #3a3a3a;
    text-decoration: underline;
}

#events-click a:hover {
    transition-property: color;
    color: #819190;
}

/* footer section */

footer {
    width: 100%;
    height: 150px;
    background-color: #CFFCF9;
}

footer li {
    list-style: none;
}

.social-heading {
    float: left;
    width: 30%;
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 15px;
}

.social-heading i {
    font-size: 30px;
    letter-spacing: 15px;
    padding-top: 25px;
    text-align: center;
    color: #3a3a3a;
}

.social-media-links li {
    display: inline;
}

.contact-heading {
    float: right;
    width: 30%;
    text-align: center;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 20px;
}


.contact-list {
    display: inline;
}

.contact-list li {
padding-top: 15px;
letter-spacing: 1px;
}

/*social icons transitions */

.social-heading i:hover {
    transition-property: color;
    color: #819190;
}

/* events page */

#events {
    height: 1000px;
    clear: both;
    padding-top: 150px;
}

#events h2 {
    font-size: 40px;
    margin-left: 20px;
}

.event-container {
    width: 75%;
    height: 240px;
    margin: 30px 30px 35px 30px;
    border-style: solid;
    border-radius: 4%;
}

.cover-text {
    position: relative;
    top: 50%;
    left: 15%;
    font-size: 30px;
    color: white
}

#event-hoop {
    width: 400px;
    height: 200px;
    float: left;
    background: url(../images/beer-in-a-bucket.jpg) no-repeat center center;
    border-radius: 4%;
    /* filter: grayscale(100%); */
    margin-top: 20px;
    margin-left: 25px;
}

#event-park {
    width: 400px;
    height: 200px;
    float: left;
    background: url(../images/people-sitting-on-grass.jpg) no-repeat center center;
    border-radius: 4%;
    /* filter: grayscale(100%); */
    margin-top: 20px;
    margin-left: 25px;
}

#event-coffee {
    width: 400px;
    height: 200px;
    float: left;
    background: url(../images/woman-in-coffee-shop.jpg) no-repeat center center;
    border-radius: 4%;
    /* filter: grayscale(100%); */
    margin-top: 20px;
    margin-left: 25px;
}

#event-coffee .cover-text {
    color: rgb(23, 73, 121);
}

.event-text {
    height: 80%;
    width: 50%;
    float: right;
    font-size: 20px;
}

.event-text li {
    list-style: none;
    padding-top: 20px;
}

.event-text i {
    letter-spacing: 10px;
    color: #3a3a3a;
    font-size: 25px;
}

.event-text i:hover {
    transition-property: color;
    color: #819190;
    
}

.signup-button {
    float: right;
    display: block;
    width: 40%;
    height: 30%;
    background-color: #3a3a3a;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 6%;
    font-family: inherit;
    margin: -10px 5px;
}

.signup-button a {
    color: #fff;
}

.signup-button:hover {
    transition-property: background-color;
    background-color: #5757f4;
}

/* tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    
}
/* tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /*tooltip position */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
     /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  /* signup form */

  #form-section {
      height: 800px;
      clear: both;
  }