@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color:
}

body {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Logo and catchphrase */

h1 {
    padding: 10px;
    margin-left: 20px;
}

#logo {
    color: black;
    float: left;
}


/* Nav Links */

#menu {
    font-size: 120%;
}

#menu li {
    float: right;
    list-style: none;
    padding: 5px;
}

#menu a {
    text-decoration: none;

}